<% content_for :head do %>
  <meta http-equiv="refresh" content="10" />
<% end %>

<div class="container">
  <div class="span-24">
    <h1>
      Jukebox.rb
    </h1>
    <hr>
  </div>
  <div class="span-24">
    <h2>
      Now playing:
	  	<% if now_playing.nil? %>
			idle
		<% else %>
 			<%= now_playing %>
		<% end %>
    </h2>
	<p>
	<% if playing? %>
		<a href="<%= playlist_pause_url %>">Pause</a>
	<% else %>
		<a href="<%= playlist_play_url %>">Play</a>
	<% end %>
	<% if now_playing %>
		|
		<a href="<%= playlist_skip_url({:id => now_playing.id}) %>">Vote to Skip Current Track</a>
		|
		<a href="<%= playlist_add_random_url %>">Add a random track</a>
		|
		<a href="<%= playlist_like_url({:id => now_playing.id}) %>">Like</a>
		|
		<a href="<%= playlist_dislike_url({:id => now_playing.id}) %>">Dislike</a>
		|
		<a href="<%= playlist_hate_url({:id => now_playing.id}) %>">Hate</a>
	<% end %>
	|
	<a href="<%= playlist_add_random_url+"/5" %>">Add 5 random tracks</a>
	<%= check_box_tag "continuous_play", "1", continuous_play? %> Contintuous Play
	<%= observe_field "continuous_play", :method => :get, :url => playlist_toggle_continuous_play_url %>
	</p>
    <hr>
    <%= "<p>&lt;#{now_playing.file_location}&gt;</p>" unless now_playing.nil? %> 
    <%= "<p>This track has #{now_playing.skip_requests.size} skip request(s)</p>" if !now_playing.nil? && now_playing.skip_requests.any? %> 
    <%= "<p>This track has been liked #{now_playing.count_likes} time(s).</p>" if !now_playing.nil? && now_playing.count_likes > 0 %> 
    <%= "<p>This track has been disliked #{now_playing.count_dislikes} time(s).</p>" if !now_playing.nil? && now_playing.count_dislikes > 0 %> 
    <%= "<p>This track has been hated #{now_playing.count_hates} time(s).</p>" if !now_playing.nil? && now_playing.count_hates > 0 %> 
    <hr>
    <h3>Up next</h3>
    <ol>
      <%= render :partial => "entry", :collection => ready_to_play %>
    </ol>
    <hr>
  </div>
</div>
